.header {
text-align: center;
border: 10px solid black;
background: lightgray;

}

.question-block {
  border: 5px solid red;
  margin-top: 5px;
  padding: 3px;
  background-color: #FF4500;
}

.size-block {
  border: 5px solid green;
  margin-top: 5px;
  padding: 3px;
  background-color: #90EE90;

}

.topping-block {
  border: 5px solid red;
  margin-top: 5px;
  padding: 3px;
  background-color: #FF4500;

}
